<ion-header>

  <ion-navbar>
    <ion-title text-center>reset</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>

  <form [formGroup]="userForm" (ngSubmit)="resetPassword()" novalidate>

  <ion-item  class="item" [ngClass]="{'error-border':!userForm.get('email').valid && userForm.get('email').touched}">
  <ion-icon name="mail" item-left></ion-icon>
  <ion-label floating>Email</ion-label>
  <ion-input  type="email" formControlName="email"></ion-input>
  </ion-item>

     <ion-item *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched" class="invalid">
      <p ion-text color="danger">Email field is required!</p>
      </ion-item>

      <ion-item *ngIf="userForm.get('email').hasError('minlength') && userForm.get('email').touched" class="invalid">
      <p ion-text color="danger">* Enter a valid Email with 10 or more characters!</p>
      </ion-item>

      <div padding text-center>    
      <button ion-button block round  [disabled]="!userForm.valid"> RESET PASSWORD</button>     
      </div>

  </form>
  </ion-content>